extends layout

mixin row(result)
  li
    a(href= result.url ? "/package/" + result.name : null )= result.name
    | #{' - '}
    span.url= result.url || 'Gists are not supported at this time.'

block content
  if user
    form.pure-form(method="post", action="/search")
      legend Search for a package
      fieldset
        .pure-g-r
          input.pure-u-4-5(type="text" placeholder="Package Name" name="q" value=query)
          button.button.pure-u-1-5.pure-button.pure-button-primary(type="submit") Search

    ul.reuslts
      if results
        each result in results
          +row(result)
        unless results.length
          p no packages found

    script(type="template", id="result-template")
      +row({
        name: "{{name}}",
        url: "{{url}}"
      })