doctype html
html
  head
    title Bower Registry Editor
    link(rel="stylesheet", href="/stylesheets/pure.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    <!--[if lt IE 9]> <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> <![endif]-->
    block styles
    if user
      style(type="text/css").
        .user-avatar-bg {
          background-image: url(#{user.avatar});
        }
    else
      link(rel="stylesheet", href="/stylesheets/font-awesome.css")

  body
    header
      if user
        .usercard
          span.user.user-avatar-bg Hi #{user.login}
      h1: a(href="/") Bower Registry Editor

    hr

    unless user
      h2 Sign in with GitHub to edit your bower packages.
      a.pure-button.btn-social.btn-github(href="/auth/github")
        i.fa.fa-github
        |  Sign in with GitHub


    block content
    block scripts
    <a href="https://github.com/spenceralger/bower-registry-editor"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
